﻿@model IEnumerable<DartApp.Models.Entities.Leg>

@foreach (var leg in Model.OrderByDescending(l => l.SequenceNumber))
{
<div class="legbox">
    <h3>Leg @leg.SequenceNumber</h3>
    @if (!leg.WinnerId.HasValue)
    {
    <div class="options mb-2">
        <a class="btn-sm btn-success mb-1" asp-action="Create" asp-controller="Throws" asp-route-legId="@leg.LegId">New Throw</a>
        |
        <a class="btn-sm btn-warning mb-1" asp-action="Edit" asp-controller="Legs" asp-route-id="@leg.LegId">Edit Leg</a>
        <a class="btn-sm btn-danger mb-1" asp-action="Delete" asp-controller="Legs" asp-route-id="@leg.LegId">Delete Leg</a>
    </div>
    <div class="options mb-2">
        <table class="table">
            @{ var points = leg.Set.Game.StartingPoints;}
            <tr>
                <th>Player 1: @leg.Set.Game.PlayerOne.Name</th>
                <th>Player 2: @leg.Set.Game.PlayerTwo.Name</th>
            </tr>
            @{ var throwsForPlayerOne = leg.Throws.Where(t => t.PlayerId == leg.Set.Game.PlayerOneId);}
            @{ var throwsForPlayerTwo = leg.Throws.Where(t => t.PlayerId == leg.Set.Game.PlayerTwoId);}
            <tr>
                <td>RemainingPoints: @DartApp.Controllers.LegsController.GetRemainingPointsForPlayerAfterThrow(throwsForPlayerOne, points)</td>
                <td>RemainingPoints: @DartApp.Controllers.LegsController.GetRemainingPointsForPlayerAfterThrow(throwsForPlayerTwo, points)</td>
            </tr>
        </table>
    </div>
    }
    @await Html.PartialAsync("_Throws", leg.Throws)
</div>
}