﻿@model IEnumerable<DartApp.Models.Entities.Set>

@foreach (var set in Model.OrderByDescending(s => s.SequenceNumber))
{
    <div class="setbox mb-2">
        <h2>Set @set.SequenceNumber</h2>
        @if (!set.WinnerId.HasValue)
        {
            @if (set.Legs.Count < set.Game.LegAmount)
            {
                <span><a class="btn-sm btn-success mb-1" asp-action="Create" asp-controller="Legs" asp-route-setId="@set.SetId">New Leg</a> | </span>
            }
            <a class="btn-sm btn-warning mb-1" asp-action="Edit" asp-controller="Sets" asp-route-id="@set.SetId">Edit Set</a>
            <a class="btn-sm btn-danger mb-1" asp-action="Delete" asp-controller="Sets" asp-route-id="@set.SetId">Delete Set</a>
        }
        @await Html.PartialAsync("_Legs", set.Legs)
    </div>
}