﻿@model DartApp.Models.ViewModels.Gamestats
<div>
    <hr />
    <h4>Game Statistics</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Game 180 Throws</th>
                <th>Game Average</th>
                <th>Player One Average</th>
                <th>Player Two Average</th>
                <th>Player One 180 Throws</th>
                <th>Player Two 180 Throws</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @(Model.gameMaxThrowsCount)
                </td>
                <td>
                    @(Model.gameAverage)
                </td>
                <td>
                    @(Model.playerOneAverage)
                </td>
                <td>
                    @(Model.playerTwoAverage)
                </td>
                <td>
                    @(Model.playerOneMaxCount)
                </td>
                <td>
                    @(Model.playerTwoMaxCount)
                </td>
            </tr>
        </tbody>
    </table>

    

    @if (Model.setstats != null)
    {
        var k = 0;
        @foreach (var setstats in Model.setstats)
        {
            ++k;
            <div class="setbox mb-2">
            <h4>Set @k Statistics</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Set 180 Throws
                        </th>
                        <th>
                            Set Average
                        </th>
                        <th>Player One Average</th>
                        <th>Player Two Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @(setstats.maxPerSet)
                        </td>
                        <td>
                            @(setstats.avgPerSet)
                        </td>
                        <td>
                            @(setstats.playerOneAverage)
                        </td>
                        <td>
                            @(setstats.playerTwoAverage)
                        </td>
                    </tr>
                </tbody>
            </table>

                        @{
                            var j = 0;
                        }
            @foreach (var leg in setstats.legstats)
            {
                ++j;

                <div class="legbox">
                <h5>Leg @j Statistics</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Leg 180 Throws
                            </th>
                            <th>
                                Leg Average
                            </th>
                            <th>Player One Average</th>
                            <th>Player Two Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @leg.maxPerLeg
                            </td>
                            <td>
                                @leg.avgPerLeg
                            </td>
                            <td>
                                @(leg.playerOneAverage)
                            </td>
                            <td>
                                @(leg.playerTwoAverage)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
                <h6>Throws Statistics</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Turn</th>
                            <th>Player One Throw Average</th>
                            <th>Player Two Throw Average</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            var i = 0;
                        }

                        @foreach (var throws in leg.throwstats)
                        {
                            ++i;
                            <tr>
                                <td>
                                    Turn @i
                                </td>
                                <td>
                                    @(throws.playerOneAverage)
                                </td>
                                <td>
                                    @(throws.playerTwoAverage)
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                </div>


            }
            </div>



        }
    }
</div>

