@model IEnumerable<DartApp.Models.ViewModels.SetSummary>
@{
    var i = 0;
}

<div class="summary">
        <h4>Summary</h4>
    @foreach (var sum in Model)
    {
        ++i;

        <div class="summary-item mb-2">
            <label>Set @i</label>
            <div class="summary-inner">
                <span class="player">@sum.PlayerOne</span>
                <span class="score">@sum.PlayerOneSetTotal - @sum.PlayerTwoSetTotal</span>
                <span class="player">@sum.PlayerTwo</span>
            </div>
        </div>
    }
</div>