@model IEnumerable<DartApp.Models.Entities.Throw>

<div class="throws">
    <table class="table">
        <tr>
            <th>Player</th>
            <th>Throw 1</th>
            <th>Throw 2</th>
            <th>Throw 3</th>
            <th>Total</th>
            <th></th>
        </tr>
        @foreach (var _throw in Model.OrderByDescending(t => t.SequenceNumber))
        {
            <tr>
                <td>@_throw.Player.Name</td>
                <td>@_throw.ActualFirstScore</td>
                <td>@_throw.ActualSecondScore</td>
                <td>@_throw.ActualThirdScore</td>
                <td>@_throw.Total</td>
                <td>
                    @if (!_throw.Leg.WinnerId.HasValue)
                    {
                        <a class="btn-danger btn-sm" asp-action="Delete" asp-controller="Throws" asp-route-id="@_throw.ThrowId">Delete</a>
                        <a class="btn-warning btn-sm" asp-action="Edit" asp-controller="Throws" asp-route-id="@_throw.ThrowId">Edit</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>