﻿@using DartApp.Controllers;
@model DartApp.Models.Entities.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.GameDate)</b></td>
                <td>@Html.DisplayFor(model => model.GameDate)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.LegAmount)</b></td>
                <td>@Html.DisplayFor(model => model.LegAmount)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.SetAmount)</b></td>
                <td>@Html.DisplayFor(model => model.SetAmount)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.StartingPoints)</b></td>
                <td>@Html.DisplayFor(model => model.StartingPoints)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.PlayerOne)</b></td>
                <td>@Html.DisplayFor(model => model.PlayerOne.Name)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.PlayerTwo)</b></td>
                <td>@Html.DisplayFor(model => model.PlayerTwo.Name)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Winner)</b></td>
                <td>@Html.DisplayFor(model => model.Winner.Name)</td>
            </tr>
        </table>
    </div>
</div>

@await Html.PartialAsync("_summary", ViewData["Summary"])

<div>
    @if (!SetsController.GameHasMaxSets(Model.SetAmount, Model.Sets.Count))
    {
        <a class="btn btn-sm btn-success mb-1" asp-action="Create" asp-controller="Sets" asp-route-gameId="@Model.GameId">New Set</a>
    }
    <div></div>
    @if (Model.Sets.Count < 1)
    {
        <p>No sets found</p>
    }
    else
    {
        @await Html.PartialAsync("_Sets", Model.Sets)
    }
</div>


@await Html.PartialAsync("_Stats", ViewData["Stats"])

<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>