﻿@model DartApp.Models.Entities.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameId" />
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerOneId" class="control-label"></label>
                <select asp-for="PlayerOneId" class="form-control" asp-items="ViewBag.PlayerOneId"></select>
                <span asp-validation-for="PlayerOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerTwoId" class="control-label"></label>
                <select asp-for="PlayerTwoId" class="form-control" asp-items="ViewBag.PlayerTwoId"></select>
                <span asp-validation-for="PlayerTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegAmount" class="control-label"></label>
                <input asp-for="LegAmount" class="form-control" />
                <span asp-validation-for="LegAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetAmount" class="control-label"></label>
                <input asp-for="SetAmount" class="form-control" />
                <span asp-validation-for="SetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingPoints" class="control-label"></label>
                <input asp-for="StartingPoints" class="form-control" />
                <span asp-validation-for="StartingPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
