﻿
@{
    ViewData["Title"] = "Import";
}

@model DartApp.Models.Entities.Game

@using (Html.BeginForm("Import",
            "Games",
            FormMethod.Post,
            new { enctype = "multipart/form-data" }))
{
    <h1>Importeer</h1>

    <div>
        <h4>Importeer een wedstrijd</h4>
        <hr />
        <label for="file">Upload een JSON bestand:</label>
        <input type="file" name="file" id="file" /><br><br>
        <input type="submit" value="Upload" id="Upload"/>
        <br><br>
        @ViewBag.Message
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
