﻿@model IEnumerable<DartApp.Models.Entities.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="Import">Import Game</a>
</p>
@{await Html.RenderPartialAsync("_Games");}
