﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.setbox {
    padding: 25px;
    background-color: #f7f7f7;
    border: 1px solid #929292;
}

.legbox {
    padding: 5px;
    background-color: #fdfdfd;
    margin-top: 10px;
    border: 1px solid #929292;
}

.summary-inner {
    background-color: #fdfdfd;
    border: 1px solid #929292;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.summary-inner span {
    flex-grow: 1;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .summary {
        position: fixed;
        width: 450px;
        top: 70px;
        right: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid gray;
    }
}