﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dart App</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a lacinia arcu. Curabitur venenatis non neque quis congue. Maecenas molestie odio a velit ultricies pharetra. Duis ornare libero vel risus placerat, nec placerat felis tempus. Cras lobortis arcu ut purus molestie, a venenatis augue dignissim. Nullam commodo sapien ac libero suscipit, consequat dignissim elit aliquam. Vestibulum aliquet non eros et cursus. Proin vel est vehicula, porttitor velit at, euismod purus. Sed sollicitudin viverra ligula, a congue sem hendrerit tempor. Nullam dolor elit, efficitur eget justo non, iaculis egestas lorem. Phasellus tincidunt dolor quis varius elementum. Aenean consectetur ac sem sit amet aliquet. Quisque ullamcorper urna enim, vitae lacinia risus suscipit id. Quisque ultricies sapien tortor, porta suscipit elit tincidunt quis.
    </p>
    <p>
        Donec hendrerit, diam quis lobortis rutrum, odio sapien feugiat metus, ac dictum tellus diam eu lorem. Donec velit tortor, lacinia a lectus et, rutrum posuere ex. Aenean elit neque, congue quis ipsum at, congue tristique leo. Praesent tempor sem at lorem ultricies, at tincidunt mi hendrerit. Ut et velit sed lectus lacinia elementum vitae eu enim. Maecenas eget felis porttitor ante sodales pellentesque. Proin mollis eros vel sollicitudin vestibulum. Morbi congue finibus metus, a tempus elit. Sed sit amet sodales tortor, sed fermentum nulla. Etiam tristique enim urna, sit amet sollicitudin sapien auctor at. Aliquam orci turpis, bibendum id lorem vitae, interdum dictum ex.
    </p>
</div>
