﻿@model IEnumerable<DartApp.Models.Entities.Game>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LegAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOne.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Winner.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Games" asp-route-id="@item.GameId">Edit</a> |
                    <a asp-action="Details" asp-controller="Games" asp-route-id="@item.GameId">Details</a> |
                    <a asp-action="Delete" asp-controller="Games" asp-route-id="@item.GameId">Delete</a> |
                    <a asp-action="Export" asp-controller="Games" asp-route-id="@item.GameId">Export</a>
                </td>
            </tr>
        }
    </tbody>
</table>
