﻿@model DartApp.Models.Entities.Leg

@{
    ViewData["Title"] = "Create";

    var sequenceNumber = Model?.SequenceNumber ?? ViewData["SequenceNumber"];
}

<h1>Create</h1>

<h4>Leg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SetId" value="@ViewData["SetId"]"/>
            <input type="hidden" asp-for="SequenceNumber" value="@sequenceNumber"/>
            <div class="form-group">
                <label asp-for="SequenceNumber" class="control-label"></label>
                <input asp-for="SequenceNumber" class="form-control" value="@sequenceNumber" disabled />
                <span asp-validation-for="SequenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Games" asp-route-id="@ViewData["GameId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
