﻿@model IEnumerable<DartApp.Models.Entities.Leg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SequenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Set.SetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LegId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LegId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LegId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
