﻿@model DartApp.Models.Entities.Set

@{
    ViewData["Title"] = "Create";
    var gameSelectDisabled = Context.Request.Query.ContainsKey("gameId");

    var sequenceNumber = Model?.SequenceNumber ?? ViewData["SequenceNumber"];
}

<h1>Create</h1>

<h4>Set</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SequenceNumber" type="hidden" value="@sequenceNumber"/>
            <div class="form-group">
                <label asp-for="SequenceNumber" class="control-label"></label>
                <input asp-for="SequenceNumber" class="form-control" value="@sequenceNumber" disabled/>
                <span asp-validation-for="SequenceNumber" class="text-danger"></span>
            </div>
            @if (gameSelectDisabled)
            {
                <input asp-for="GameId" type="hidden" value="@Context.Request.Query["gameId"]">
            }
            else
            {
                <div class="form-group">
                    <label asp-for="GameId" class="control-label"></label>
                    <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Games" asp-route-id="@Context.Request.Query["gameId"]">Back to game</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}