﻿@model DartApp.Models.Entities.Set

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Set</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Winner.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SetId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Details" asp-controller="Games" asp-route-id="@Model.GameId">Back to game</a>
    </form>
</div>