﻿@model DartApp.Models.Entities.Set

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Set</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Winner.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SetId">Edit</a> |
    <a asp-action="Details" asp-controller="Games" asp-route-id="@Model.GameId">Back to game</a>
</div>