﻿@model DartApp.Models.Entities.Set

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Set</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SetId"/>
            <input type="hidden" asp-for="GameId"/>
            <div class="form-group">
                <label asp-for="SequenceNumber" class="control-label"></label>
                <input asp-for="SequenceNumber" class="form-control"/>
                <span asp-validation-for="SequenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Games" asp-route-id="@Model.GameId">Back to game</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}