﻿@model DartApp.Models.Entities.Throw

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Throw</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leg.LegId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdScore)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ThrowId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
