﻿@using DartApp.Models.Entities;
@model DartApp.Models.Entities.Throw

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Throw</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThrowId"/>
            <input type="hidden" asp-for="LegId" value="@Model.LegId"/>
            <input type="hidden" asp-for="PlayerId" value="@Model.PlayerId"/>
            <input type="hidden" asp-for="SequenceNumber" value="@Model.SequenceNumber"/>
            <input for="GameId" type="hidden" value="@ViewData["GameId"]">

            <div class="form-group">
                <label asp-for="SequenceNumber" class="control-label"></label>
                <input asp-for="SequenceNumber" class="form-control" disabled/>
                <span asp-validation-for="SequenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId" disabled></select>
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstScore" class="control-label"></label>
                <select asp-for="FirstScoreMultiplier" class="form-control" asp-items="Html.GetEnumSelectList<ThrowMultiplier>()"></select>
                <span asp-validation-for="FirstScoreMultiplier" class="text-danger"></span>
                <input asp-for="FirstScore" class="form-control"/>
                <span asp-validation-for="FirstScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondScore" class="control-label"></label>
                <select asp-for="SecondScoreMultiplier" class="form-control" asp-items="Html.GetEnumSelectList<ThrowMultiplier>()"></select>
                <span asp-validation-for="SecondScoreMultiplier" class="text-danger"></span>
                <input asp-for="SecondScore" class="form-control"/>
                <span asp-validation-for="SecondScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdScore" class="control-label"></label>
                <select asp-for="ThirdScoreMultiplier" class="form-control" asp-items="Html.GetEnumSelectList<ThrowMultiplier>()"></select>
                <span asp-validation-for="ThirdScoreMultiplier" class="text-danger"></span>
                <input asp-for="ThirdScore" class="form-control"/>
                <span asp-validation-for="ThirdScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Games" asp-route-id="@ViewData["GameId"]">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}