﻿@model IEnumerable<DartApp.Models.Entities.Throw>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SequenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leg.LegId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThrowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThrowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
